<!--
Views\Aluno\_SubmisaoFor.cshtml
-->

<div class="form-group">
    <div class="col-md-offset-10">
        <button type="submit" value="Enviar" class="btn btn-primary">Enviar</button>
        <!--navegando através do razor com rotas -->
        <a href="@Url.Action("Index",controllerName:"Home")" class="btn btn-primary">Voltar</a>
    </div>
</div>
